/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

 {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ================== */


body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  /* padding-top: 60px; */
   overflow-x: hidden;
  margin: auto;
}

p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.info{
    text-align: center;
    /* background-image: url("i1.jpg") */
    background: #FAFAFA;
    box-shadow: 0 2px 18px 0 rgba(0,0,0,0.18);
    padding: 10px 10px 10px 10px;

}
/* choose a light or dark theme to add to the body tag. */
.dark-theme {
  background-color: #181414;
  color: #fcfbfb;
}
.light-theme {
  background-color: white;
  color: black;
}



.text-pad{
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 975px;
}

/* ******** */

.image {
  width: 100%;
}


/*
super-font
.headline
.kicker
.subhead
.label
.label-text
.credit

sub-font
.date
.body-text
.note
*/



.super-font {
  font-family: 'Roboto Condensed', sans-serif;
}
.sub-font {
  font-family: 'Lora', serif;
}

/** article **/

.kicker {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

.headline {
    font-size: 3.5rem;
    line-height: 0.9;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    font-weight: 700;
}

.body-text {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-top: 1.5rem;

}

.credit  {
    font-size: 1.2rem;
    line-height: 0.75;
    margin-top: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.date {
    font-size: 1rem;
    line-height: 1;
    margin-top: 0.25rem;
    font-weight: 400;
    font-style: italic;
}

.subhead {
    font-size: 2rem;
    line-height: 0.9;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    font-weight: 700;
}

.label {
    font-size: 1.25rem;
    line-height: 1.25;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.label-text {
    font-size: 1.25rem;
    line-height: 1.25;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.note {
    font-size: 0.85rem;
    line-height: 1.5;
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
    font-weight: 400;
}
.caption  {
    font-size: 1rem;
    line-height: 1.2;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-weight: 400;
}



.intro {
min-height: 500px;
}

/** scroll menu **/

#scroll {
position: relative;
padding: 0;
}

.step {
min-height: 300px;
}

.step img {
width: 100%;
height: auto;
}


.box {
    /* border-width:1px;
    border-style:solid;
    border-color:black; */
    margin-left: 24px;
  margin-bottom: 400px;
  /* padding: 20px;
  background: rgba(255,255,255,.6); */
}

.boxvis3 {
    margin-bottom: 100px;
    padding: 20px;
}

.scroll__graphic {
position: -webkit-sticky;
position: sticky;
float: right;
top: 0;
right: 0;
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}

.scroll__text {
position: relative;
padding: 21rem 1rem;
max-width: 30rem;
width: 33%;
}

.scroll__text2 {
    position: relative;
    padding: 21rem 1rem;
    max-width: 30rem;
    width: 33%;
}

.overlay {
background: rgba(255,255,255, .25);
}

#map {
position: static;
}

.full {
  padding: 0;
  margin: 0;
}


p {
  margin-bottom: 0;
  text-align: justify;
}

.vis_transition {
    font:30px Georgia;
    padding-top: 650px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    line-height: 50px;
}



/** Footer - Other stories **/

.footer-theme {
    background-color: #ffe5a7;
    color: #000000;
    padding: 3rem;
    margin-top: 5rem;
}

.kicker-footer {
    color: #4b4b4b;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6;
}

.headline-footer {
    color: #4b4b4b;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 0rem;
}

.footer-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #4b4b4b;
    margin-bottom: 0rem;
}

.tag-text {
    font-size: 0.8rem;
    color: #a3a3a3;
    padding-top: 0.4rem;
    margin-bottom: 0.6rem;
}

.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: black;
  fill-opacity:0.7;
}

.text {
  font-size: 12px;
}

.title-text {
  font-size: 12px;
}

 .ticks {
      font-size: 10px;
    }

    .track,
    .track-inset,
    .track-overlay {
      stroke-linecap: round;
    }

    .track {
      stroke: #000;
      stroke-opacity: 0.3;
      stroke-width: 10px;
    }

    .track-inset {
      stroke: #ddd;
      stroke-width: 8px;
    }

    .track-overlay {
      pointer-events: stroke;
      stroke-width: 50px;
      stroke: transparent;
      cursor: crosshair;
    }

    .handle {
      fill: #fff;
      stroke: #000;
      stroke-opacity: 0.5;
      stroke-width: 1.25px;
    }
div.tooltip {
  min-width: 60px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid black;
  padding: 2px;
  font-size: 8px;
  text-align: center;
}

.myLabel {
  font-weight:600;

}
#scatterplot_box,#lineplot_box{
  height:50%;
}

.legend {
        line-height: 18px;
        color: #555;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }

 .info_state {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
    }
.info_state h4 {
    margin: 0 0 5px;
    color: #777;
}

.pauseButtonClass :hover{
    background-color: #4b4b4b;
}

.disable{
    display: none;
}

.vis3part {
    transform: scale(0.8);
    transition: 2s ease-in-out;
}

.zoomout {
    transform: scale(1);
}

.vis3_container {
    transform: translate(14%,0); transition: 2s ease-in-out;
    margin-top: 35px;
}


.shiftleft {
    transform: translate(0,0);
}

.info_state h4 {
    margin: 0 0 5px;
    color: #777;
}

