.chart {
    height: 843px;
    /*background: url("patient-family.jpg");*/
    background: beige;
}

.headline {
    font-size: 80px;
    /*padding-top: 100px;*/
    padding-bottom: 40px;
    font-family: Georgia;
}

.subtitle{
    font-size: 100px;
    font-family: Georgia;
}

.textarea{

}

.intro_text{
    padding-top: 150px;
    margin-right: 200px;
    margin-left: 200px;
    font-size: 20px;
    line-height: 40px;
    font-family: Georgia;

}

.step h3 {
  font-family: Georgia;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 8px;
  padding-top: 8px;
}


.step p {
  font-family: Georgia;
  line-height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.card {
  background: #FAFAFA;
  box-shadow: 0 2px 18px 0 rgba(0,0,0,0.18);
  padding: 16px 32px 24px 32px;
}
