.chart {
    height: 100vh !important;
    background: url("kidney list white.png") no-repeat center;
    background-size: cover;
    /* background: beige; */
}

.headline {
    font-size: 80px;
    /*padding-top: 100px;*/
    padding-bottom: 40px;
    font-family: Georgia;
}

.subtitle{
    font-size: 24px;
    font-family: Georgia;
    padding-bottom: 64px;

}

.btn-secondary {
  color: #5DA2D5;
  border-color: #5DA2D5;
  background-color: transparent;
  font-family: "Roboto";
}

.btn-secondary:hover {
  color: #5DA2D5;
  border-color: #5DA2D5;
  background-color: #5DA2D520;
  font-family: "Roboto";
}

.active {
  color: white !important;
  border-color: #5DA2D5 !important;
  background-color: #5DA2D5 !important;
  font-family: "Roboto";
}

.author {
  font-family: Georgia;
}

.textarea{

}

.intro_text{
    padding-top: 150px;
    margin-right: 200px;
    margin-left: 200px;
    font-size: 20px;
    line-height: 40px;
    font-family: Georgia;

}

.step h3 {
  font-family: Georgia;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 8px;
  padding-top: 8px;
}


.step p {
  font-family: Georgia;
  line-height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.card {
  background: #FAFAFA;
  box-shadow: 0 2px 18px 0 rgba(0,0,0,0.18);
  padding: 16px 32px 24px 32px;
}

.final-CTA {
  padding-top: 200px;
  font:30px Georgia;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  line-height: 50px;
}

#bg-toggles {
  height: 800px !important;
  padding-top: 200px;
}



.scroll__text {
  padding-bottom: 600px;
}
